:root {
    --primary-color: #0D1321;
    --secondary-color: #F0EBD8;
    --tertiary-color: #425BB5;
    --quarterly-color: #FFFFFF;
}

/* Typography
==================================================*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Bodoni moda";
}
h1 {
    color: var(--primary-color);
    font-size: 55pt;
}
h2 {
    color: var(--tertiary-color);
    font-size: 16pt;
    line-height: 12pt;
}
h3 {
    font-size: 26pt;
    padding-bottom: 32px;
}
h4 {
    font-size: 20pt;
    padding-bottom: 24px;
}
body {
    font-family: 'Open Sans', sans-serif;
}
/* General 
==================================================*/
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    border: none;
    /* border: red;
    border-style: solid; */
}

body {
    background-color: var(--quarterly-color);
}
section {
    padding: 48px 100px;
}

/* Home section
==================================================*/
.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    .navbar {
        display: flex;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;

        .nav-link {
            display: flex;
            
            li {
                padding: 0 24px;

                a {
                    display: inline-block;
                    position: relative;
                    text-align: center;
                    font-family: "Noto Sans PhagsPa", serif;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: bold;
                    color: var(--primary-color);
                    font-size: 10pt;
                }

                a:hover {
                    color: var(--tertiary-color);
                }
            }
        }
        .menu {
            display: none;
            padding: 20px 100% 15px 30px;
        }
        label {
            width: 30px;
            height: 4px;
            background-color: var(--primary-color);
            position: absolute;
            top: 30px;
            right: 40px;
            cursor: pointer;
            border-radius: 16px;

            &::before, &::after {
                content: " ";
                width: 30px;
                height: 4px;
                background-color: var(--primary-color);
                position: absolute;
                display: block;
                border-radius: 16px;
                transition: all 0.7s ease;
            }

            &::before {
                bottom: 9px;
                left: 0;
                transform-origin: left top;
            }

            &::after {
                top: 9px;
                left: 0;
                transform-origin: left bottom;
            }
        }
        #menu-hamburger:checked ~label::before {
            transform: rotateZ(40deg);
        }
        #menu-hamburger:checked ~label::after {
            transform: rotateZ(-40deg);
        }
        #menu-hamburger:checked ~label {
            background-color: var(--secondary-color);
        }
        #menu-hamburger ~label {
            transition: all 0.6s ease;
        }
        #menu-hamburger {
            display: none;
        }
    }
}


/* People section
==================================================*/

.people {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 50px;

        .portrait {
            width: 350px;
            height: 400px;
            object-fit: cover;
        }
        .paysage {
            width: 350px;
            height: 300px;
            object-fit: cover;
        }
    }
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
    ;
    .links {
        display: flex;
        align-items: center;
        justify-content: center;

        .fa-instagram, .fa-tiktok, .fa-envelope {
            color: var(--primary-color);
            padding: 24px;
        }
        .fa-instagram:hover, .fa-tiktok:hover, .fa-envelope:hover {
            color: var(--tertiary-color);
        }
    }
}