/* Table of Content
==================================================
	- Font family and colors -
	- Typography -
	- General -
    - Home section -
    - About me section -
    - Projects section -
    - Navigation section -
    - Gallery section -
    - Contact section -
    - Responsive media queries -
*/

/*
font-family: "Bodoni moda"";
font-family: 'Open Sans', sans-serif;
font-family: "Noto Sans PhagsPa", serif;
*/

:root {
    --primary-color: #111827;
    --secondary-color: #E0D5CC;
    --tertiary-color: #0C4A6F;
    --quarterly-color: #FFFFFF;
}

/* Typography
==================================================*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Bodoni moda";
}
h1 {
    color: var(--primary-color);
    font-size: 55pt;
}
h2 {
    font-size: 16pt;
    line-height: 12pt;
}
h3, h4 {
    font-size: 26pt;
    padding-bottom: 32px;
}
body {
    font-family: 'Open Sans', sans-serif;
}

/* General 
==================================================*/
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

body {
    background-color: var(--quarterly-color);
}

html, body, section {
    block-size: 100%;
}
  
html {
    scroll-snap-type: y mandatory;
}
  
section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding: 40px 100px 48px 100px;
    height: 100vh;
}

/* Home section
==================================================*/
.home {
    background-image: url("./Images/background.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 430px;

    .navbar {
        display: flex;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;

        .nav-link {
            display: flex;
            
            li {
                padding: 0 24px;

                a {
                    display: inline-block;
                    position: relative;
                    text-align: center;
                    font-family: "Noto Sans PhagsPa", serif;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: bold;
                    color: var(--primary-color);
                    font-size: 10pt;
                }

                a:hover {
                    color: var(--tertiary-color);
                }
            }
        }
        .menu {
            display: none;
            padding: 20px 100% 15px 30px;
        }
        label {
            width: 30px;
            height: 4px;
            background-color: var(--primary-color);
            position: absolute;
            top: 30px;
            right: 40px;
            cursor: pointer;
            border-radius: 16px;

            &::before, &::after {
                content: " ";
                width: 30px;
                height: 4px;
                background-color: var(--primary-color);
                position: absolute;
                display: block;
                border-radius: 16px;
                transition: all 0.7s ease;
            }

            &::before {
                bottom: 9px;
                left: 0;
                transform-origin: left top;
            }

            &::after {
                top: 9px;
                left: 0;
                transform-origin: left bottom;
            }
        }
        #menu-hamburger:checked ~label::before {
            transform: rotateZ(40deg);
        }
        #menu-hamburger:checked ~label::after {
            transform: rotateZ(-40deg);
        }
        #menu-hamburger:checked ~label {
            background-color: var(--quarterly-color);
        }
        #menu-hamburger ~label {
            transition: all 0.6s ease;
        }
        #menu-hamburger {
            display: none;
        }
    }
    .hello {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: var(--tertiary-color);
        }
    }
}
/* About me section
==================================================*/
.aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;

    .banner {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        
        video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        
        h2 {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          font-weight: 700;
          font-size: 90pt;
          text-align: center;
          text-transform: uppercase;
          background-color: var(--quarterly-color);
          mix-blend-mode: screen;
        }
      }

    .about {
        display: flex;
        align-items: center;
        gap: 60px;
        
        .sophie {
            width: 350px;
        }
        .presentation {
            width: 600px;
            color: var(--primary-color);
            
            p {
                padding: 8px;
                text-align: justify;
            }
        }
    }
}
/* Projects section
==================================================*/
.projects {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2, a {
        color: var(--secondary-color);
    }
    .portfolio {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 60px 100px;

        .project {
            position: relative;
            width: 250px;
            height: 250px;
            
            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                margin: auto;
            }
            .hover {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgb(12, 74, 111, 0.9);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;

                h4 {
                    font-size: 14pt;
                    padding-bottom: 48px;
                }
            }
            .hover:hover {
                opacity: 1;
                transition: 0.6s;
            }

            .hover > * {
                transform: translateY(25px);
                transition: traansform 0.6s;
            }
            .hover:hover > * {
                transform: translateY(0px);
            }
        }  
    }
}
/* Navigation section
==================================================*/
.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 100px;
    background-image: url("./Images/background.jpg");
    background-size: cover;
    background-position: 50% 18%;

    .navbar {
        display: flex;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;

        .nav-link {
            display: flex;
            
            li {
                padding: 0 24px;

                a {
                    display: inline-block;
                    position: relative;
                    text-align: center;
                    font-family: "Noto Sans PhagsPa", serif;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: bold;
                    color: var(--primary-color);
                    font-size: 10pt;
                }

                a:hover {
                    color: var(--tertiary-color);
                }
            }
        }
        .menu {
            display: none;
            padding: 20px 100% 15px 30px;
        }
        label {
            width: 30px;
            height: 4px;
            background-color: var(--primary-color);
            position: absolute;
            top: 30px;
            right: 40px;
            cursor: pointer;
            border-radius: 16px;

            &::before, &::after {
                content: " ";
                width: 30px;
                height: 4px;
                background-color: var(--primary-color);
                position: absolute;
                display: block;
                border-radius: 16px;
                transition: all 0.7s ease;
            }

            &::before {
                bottom: 9px;
                left: 0;
                transform-origin: left top;
            }

            &::after {
                top: 9px;
                left: 0;
                transform-origin: left bottom;
            }
        }
        #menu-hamburger:checked ~label::before {
            transform: rotateZ(40deg);
        }
        #menu-hamburger:checked ~label::after {
            transform: rotateZ(-40deg);
        }
        #menu-hamburger:checked ~label {
            background-color: var(--secondary-color);
        }
        #menu-hamburger ~label {
            transition: all 0.6s ease;
        }
        #menu-hamburger {
            display: none;
        }
    }
}
/* Gallery section
==================================================*/
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 100px;

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 150px 32px 150px;
        color: var(--primary-color);
    }
    .container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 40px;

        img {
            width: 350px;
            height: 350px;
            object-fit: cover;
            cursor: zoom-in;
            border: 4px solid var(--primary-color);
            border-radius: 4px;
            padding: 5px;
        }
        img:hover {
            opacity: 0.7;
        }
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 5vh;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(13, 19, 33);
        background-color: rgba(13, 19, 33, 0.9);
    }
      
    .modal-content {
        margin: auto;
        display: block;
        height: 90vh;
        width: auto;
    }
    
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: var(--secondary-color);
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
      
    .close:hover, .close:focus {
        transform: scale(1.4);
        text-decoration: none;
        cursor: pointer;
    }
}
/* Contact section
==================================================*/
.contact {
    background-image: url("./Images/background.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 100px 24px;

    .formcarry-container * {
        box-sizing: border-box;
    }

    .formcarry-container {
        --c-width: 50%;
        --c-max-width: 500px;
        width: var(--c-width);
        max-width: var(--c-max-width);
        display: block;
        padding: 0 48px 24px;
        border: 4px solid var(--primary-color);
        border-radius: 15px;
        
        .formcarry-form {
            label {
                display: block;
                padding: 16px 0 8px 0;
                cursor: pointer;
                color: var(--primary-color);
                font-weight: 700;
            }
            
            input, textarea {
                display: block;
                width: 100%;
                padding: 10px;
                background-color: rgb(255, 255, 255, 0.5);
                border: 2px solid var(--primary-color);
                outline: none;
                color: var(--primary-color);
                border-radius: 5px;
            }

            input:focus, textarea:focus {
                border-color: var(--primary-color);
                background-color: var(--secondary-color);
                color: var(--primary-color);
            }
            input:focus:required:invalid {
                border-color: var(--primary-color);
                background-color: var(--secondary-color);
                color: var(--primary-color);
            }
            
            button {
                display: block;
                margin-top: 12px;
                width: 100%;
                padding: 12px 20px;
                border: 3px solid var(--primary-color);
                background-color: var(--primary-color);
                color: var(--secondary-color);
                font-weight: 700;
                font-size: 14pt;
                cursor: pointer;
                transition: 300ms all;
                border-radius: 5px;
            }
            
            button:hover {
                background-color: var(--secondary-color);
                color: var(--primary-color);
            }
        }
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px 0 16px 0;

        .fa-instagram, .fa-tiktok, .fa-envelope, .fa-linkedin {
            color: var(--primary-color);
            padding: 24px;
        }
        .fa-instagram:hover, .fa-tiktok:hover, .fa-envelope:hover, .fa-linkedin:hover {
            color: var(--tertiary-color);
        }
    }
    p {
        font-size: 10pt;
    }
}
article.contact {
    background-image: url("./Images/background.jpg");
    background-size: cover;
    background-position: 50% 60%;
    padding: 24px;
}
/* Responsive media queries
==================================================*/
@media (max-width: 768px) {
    .home {
        .navbar {
            width: 100vw;

            .nav-link {
                position: absolute;
                top: 0;
                left: 0;
                backdrop-filter: blur(15px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: -100%;
                transition: all 0.5s ease;
                z-index: 1;
                
                li a {
                    font-weight: bolder;
                    padding: 32px 0;
                    font-size: 24pt;
                }
            }

            .menu {
                display: block;
                z-index: 2;
            }
            
            .nav-link.mobile-menu {
                margin-left: 0;
                width: 100%;
                height: 100vh;
            }
        }
    }
}